extends layout

block content
 
  a 
  

    h1 Blockchain Based Instant Messaging App / Private Keys &amp; Signing
    .embed-responsive.embed-responsive-16by9
         
      br
      p.pull-right by 
      a
      |Hashini Amarasena
      